.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  margin: 100px 418px 60px 153px;
}

.u-section-1 .u-custom-html-2 {
  width: 170px;
  min-height: 68px;
  margin: 30px auto 60px 20px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 67px;
  animation-duration: 500ms;
  width: 762px;
  margin: 182px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 224px;
  height: 224px;
  animation-duration: 1100ms;
  background-image: linear-gradient(#1a1a1a, black);
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: 0 auto 0 100px;
}

.u-section-1 .u-shape-2 {
  width: 223px;
  height: 224px;
  background-image: linear-gradient(#1a1a1a, black);
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: -224px auto 0 336px;
}

.u-section-1 .u-shape-3 {
  width: 223px;
  height: 224px;
  background-image: linear-gradient(#1a1a1a, black);
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: -224px 348px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 197px;
  height: 170px;
  animation-duration: 1000ms;
  margin: -197px auto 0 349px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 178px;
  object-position: 50% 52.72%;
  animation-duration: 1000ms;
  margin: -174px 358px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 223px;
  height: 224px;
  background-image: linear-gradient(#1a1a1a, black);
  animation-duration: 1100ms;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: -201px 113px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 227px;
  object-position: 100% 50%;
  animation-duration: 1000ms;
  margin: -226px 134px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 201px;
  height: 201px;
  animation-duration: 1000ms;
  margin: -214px auto 0 111px;
}

.u-section-1 .u-shape-5 {
  width: 223px;
  height: 224px;
  background-image: linear-gradient(#1a1a1a, black);
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin: 34px auto 0;
}

.u-section-1 .u-image-5 {
  width: 182px;
  height: 183px;
  animation-duration: 1000ms;
  margin: -204px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 318px;
    margin-left: 53px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    width: 761px;
    margin-top: 202px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 247px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 234px;
  }

  .u-section-1 .u-image-1 {
    width: 203px;
    height: 198px;
    margin-top: -211px;
    margin-left: 257px;
  }

  .u-section-1 .u-image-2 {
    width: 198px;
    height: 216px;
    margin-top: -207px;
    margin-right: 247px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -220px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 177px;
    height: 224px;
    margin-top: -228px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -209px;
    margin-left: 11px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 37px;
  }

  .u-section-1 .u-image-5 {
    width: 178px;
    height: 178px;
    margin-top: -201px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 151px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-3 {
    width: 764px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 237px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -476px;
    margin-right: 515px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 29px;
    margin-right: auto;
    margin-left: 497px;
  }

  .u-section-1 .u-image-1 {
    width: 188px;
    height: 191px;
    margin-top: -459px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 45px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -468px;
    margin-right: auto;
    margin-left: 497px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -224px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 40px;
    margin-left: 12px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -464px;
  }

  .u-section-1 .u-image-5 {
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 47px;
    width: 512px;
    margin: 135px auto 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: -159px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 228px;
    margin-top: 18px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -224px;
    margin-left: 317px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -207px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -207px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -464px;
    margin-left: 317px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 15px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -212px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1532px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -1099px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 173px;
    margin-bottom: 0;
    animation-duration: 1000ms;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 289px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 266px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -472px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -452px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -710px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 524px;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 60px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-text-1 {
  width: 743px;
  margin: 60px auto 0;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 510px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 658px;
  height: 390px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 658px;
  height: 390px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-image-3 {
  height: 390px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 15px auto 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 601px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 306px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 308px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 190px;
  }
}