.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/image1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 27px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-1 {
  margin: 0 204px;
}

.u-section-1 .u-text-2 {
  margin: 20px 68px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 33px;
  margin-bottom: 0;
  min-height: 349px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-3 {
  margin: 0 192px;
}

.u-section-1 .u-text-4 {
  margin: 20px 32px 0 33px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 33px;
  margin-bottom: 0;
  min-height: 349px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 154px;
    margin-right: 154px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 142px;
    margin-right: 142px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/image1.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 236px;
}

.u-section-2 .u-text-1 {
  margin: 38px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 71px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/image1.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 247px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 56px auto 49px 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 386px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 321px;
  height: auto;
  margin: 33px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  margin: 2px 0 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}