.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/image1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 2396px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-1 {
  margin: 0 204px;
}

.u-section-1 .u-text-2 {
  margin: 20px 68px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 33px;
  margin-bottom: 0;
  min-height: 356px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 601px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 13px;
}

.u-section-1 .u-text-3 {
  margin: 0 192px;
}

.u-section-1 .u-text-4 {
  margin: 20px 32px 0 33px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 33px;
  margin-bottom: 0;
  min-height: 356px;
}

.u-section-1 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px auto 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 356px;
  width: 510px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-7 {
  width: 458px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  width: 458px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px auto 0;
}

.u-section-1 .u-text-9 {
  width: 458px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  width: 458px;
  margin: 12px auto 0;
}

.u-section-1 .u-custom-html-4 {
  min-height: 363px;
  height: auto;
  width: 510px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 3.75rem;
  width: 528px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  width: 458px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1871px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 154px;
    margin-right: 154px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 142px;
    margin-right: 142px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -52px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 143px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -259px;
  }

  .u-section-1 .u-text-11 {
    width: 529px;
    margin-top: 326px;
  }

  .u-section-1 .u-text-12 {
    width: 407px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1575px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -53px;
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
    width: 340px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 144px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -260px;
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 335px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 386px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 321px;
  margin: 33px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  margin: 2px 0 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}