.u-section-1 {
  background-image: url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 149px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 45px;
  }
}.u-section-2 {
  background-image: url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1458px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  width: 477px;
  margin: 0 auto;
}

.u-section-2 .u-custom-html-1 {
  min-height: 907px;
  animation-duration: 250ms;
  width: 944px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 31px 391px 0;
}

.u-section-2 .u-image-1 {
  width: 486px;
  height: 372px;
  animation-duration: 1000ms;
  margin: 10px auto 60px 327px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 236px;
    margin-left: 227px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 883px;
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 373px;
    margin-left: 209px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 126px;
    margin-left: 117px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 272px;
    margin-left: 91px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 36px;
    margin-left: 27px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 118px;
    margin-left: 64px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 260px;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: url("images/Free-Simple-Black-Seamless-Pattern-for-Website-Background.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 266px;
}

.u-section-3 .u-text-1 {
  width: 267px;
  margin: 14px auto 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  width: 320px;
  margin: 14px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 79px;
  }
}